@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    background-color: rgb(235, 235, 235);
}
main
{
    display: block;
    max-width: 900px;
    margin: 0 auto;
    font-family: "Lato", Arial, sans-serif;
}
h1
{
    color: rgb(50, 50, 50);
    margin: 20px;
}

.beacon-list
{
    list-style-type: none;
    margin: 0;
    width: 100%;
    display: block;
    padding: 0;
}
.beacon
{
    display: block;
    width: 90%;
    margin: 3px auto;
    background-color: rgb(220, 220, 220);
    padding: 15px 20px;
    box-sizing: border-box;
    border-radius: 3px;
}
.id
{
    font-weight: bold;
}
.used
{
    float: right;
}
.inuse
{
    color: rgb(0, 150, 0);
}
.free
{
    color: rgb(150, 0, 0);
}

.indicator
{
    width: 9px;
    height: 9px;
    display: inline-block;
    border-radius: 9px;
    background-color: rgb(0, 180, 0);
    margin: 6px 10px;
    float: right;
    position: relative;
    /*top: px;*/
}
.free>.indicator
{
    background-color: rgb(180, 0, 0);
}